@use "../../styles/base" as base;
@use "../../styles/constants" as *;

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

.intro {
  background-color: $color-primary-dark;
  min-height: 100vh;
  box-sizing: border-box;
  .content {
    display: flex;
    padding-bottom: 147px;
    .logoAndHeadline {
      padding-top: 84px;
      .logo {
        height: 69px;
        margin-bottom: 87px;
        @media screen and (max-width: $absolute-break) {
          height: 43px;
          margin-bottom: $spacing-xl;
        }
      }
    }
    .headerImage {
      display: flex;
      align-items: center;
      padding-top: 165px;
      justify-content: flex-end;
      @media screen and (max-width: $absolute-break) {
        padding-top: 37px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        .header {
          width: 542px;
          @media screen and (max-width: $absolute-break) {
            height: 351px;
            max-width: 80%;
          }
        }
      }
    }
    @media screen and (max-width: $absolute-break) {
      flex-direction: column;
    }
    @media screen and (min-width: $absolute-break) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: $smaller-content;
      margin: 0 auto;
    }
    @media screen and (min-width: $absolute-break) and (max-width: $max-width-content) {
      padding: 0 $spacing-xl;
    }
  }
  @media screen and (max-width: $absolute-break) {
    height: auto;
    min-height: 100vh;
    padding: 0 $spacing-l;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: $absolute-break) {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    min-height: 100vh;
  }
  .scroll {
    width: 55px;
    height: 55px;
    position: absolute;
    animation: down 2s infinite;
    -webkit-animation: down 2s infinite;
    bottom: 20px;
    left: auto;
    right: calc((100vw - $smaller-content) / 2);
    transition:
      opacity 0.3s ease-in-out,
      bottom 0.3s ease-in-out;
    &.scrolled {
      opacity: 0;
      bottom: 30px;
    }
  }
}
