@use "../../styles/base" as base;
@use "../../styles/constants" as *;

:local {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .wrapper {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: auto;
    z-index: 10;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    bottom: 5vh;
    @media screen and (max-width: $absolute-break) {
      bottom: 0;
      transform: none;
      left: 0;
      z-index: 30;
    }
    .main {
      display: flex;
      justify-content: center;
      gap: $spacing-sm;
      padding: $spacing-s $spacing-m;
      background: #fff;
      @media screen and (min-width: $absolute-break) {
        box-shadow:
          0px 0px $spacing-3xs 0px rgba(0, 0, 0, 0.24),
          0px 0px $spacing-m $spacing-2xs rgba(0, 0, 0, 0.16);
      }
      @media screen and (max-width: $absolute-break) {
        width: 100vw;
        justify-content: space-between;
      }
      & > div {
        position: relative;
        cursor: pointer;
        height: 40px;
        width: 40px;
        .speechBubble {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translateX(-50%) translateY(-55px);
          background: white;
          padding: $spacing-s $spacing-sm;
          box-shadow:
            0px 0px $spacing-3xs 0px rgba(0, 0, 0, 0.24),
            0px 0px $spacing-m $spacing-2xs rgba(0, 0, 0, 0.16);
          width: fit-content;
          p {
            color: $color-primary-dark !important;
            white-space: nowrap;
            @include base.body-bold;
          }
        }
        .speechBubble.down::after {
          content: "";
          position: absolute;
          bottom: -18px;
          left: 50%;
          transform: translateX(-50%);
          border-width: $spacing-sm;
          border-style: solid;
          border-color: white transparent transparent transparent;
        }
      }
    }
    .jump {
      height: 56px;
      width: 56px;
      padding: $spacing-s;
      background: #fff;
      cursor: pointer;
      @media screen and (min-width: $absolute-break) {
        box-shadow:
          0px 0px $spacing-3xs 0px rgba(0, 0, 0, 0.24),
          0px 0px $spacing-m $spacing-2xs rgba(0, 0, 0, 0.16);
        margin-left: $spacing-s;
      }
    }
    .borderMobile {
      position: absolute;
      height: $spacing-xs;
      background: $color-primary-dark;
      top: 0;
      transform: translateY(-$spacing-xs);
    }
  }
}
